*{
    padding: 0em;
    margin: 0em;
    list-style: none;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
}


nav ul{
   font-size: 1rem;
    display:flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin-left: 10rem;
margin-right: 10rem;
padding-top: 1em;
cursor: pointer;
}
nav ul li:hover{
    color: turquoise;
}
header{
    background-color: yellow;
}
.heading{
    color: black;
    font-size: 50px;
    text-align: center;
justify-content: right;
padding-top: 5rem;
}
#pic1{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}
#pic2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}
#pic3{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    
}
p{
    font-size: 2em;
    margin-left: 2cm;
    font-weight: lighter;
}
.grid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}
.link{
    text-align: center;
    cursor: pointer;
letter-spacing: 0.5px;
font-size: 1em;
padding-top: 10px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 10px;
border-radius: 30px;
font-weight: bold;
margin-top: 2px;
margin-bottom: 1px;
font-size: 12px;
}
   h2{
    font-size: 20px;
    font-family: sans-serif;
   } 
 section{
     padding: 3em;
     display: flex;
 flex-direction: row;
justify-content: space-around;
}
.company{
font-size: 15px;
cursor: pointer;
text-indent: 2mm;
}
.company li:hover{
    color: teal;
} 
#lang{
padding-left: 4cm;
padding-bottom: 2cm;}
footer ul{
    display: flex;
padding-left: 5%;
    font-size: 15px;
    background-color: black;
    color:white;
   padding-right: 75%; 
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
 cursor: pointer;
}
footer ul li:hover{
color: yellow;
}

